body {
    background-color: black;
    color: ghostwhite;
}
#costume-selector {
    text-align: center;
}
#costume-selector input {
    margin: 10px;
}
table {
    margin: 10px;
}
.section {
    margin-top: 20px;
}
#costume-properties {
    max-width: 300px;
}
.input-group > span.input-group-addon {
    -moz-min-width: 90px;
    -ms-min-width: 90px;
    -o-min-width: 90px;
    -webkit-min-width: 90px;
    min-width: 90px;
}
button {
    display: inline-block;
}
header {
    margin-bottom: 15px;
}
.notSelectable {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}