<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Color Clock</title>
    @Styles.Render("~/css/bootstrap")
    <link rel="stylesheet" type="text/css" href="~/Content/Styles/clock.css?v=@Html.Version()" />
</head>
<body>
    <noscript>
        <h1>You need Javascript enabled to view this page.</h1>
    </noscript>
    <div class="container">
        <h1 id="time"></h1>
    </div>
    @Scripts.Render("~/js/jquery")
    <script src="~/Scripts/colorclockhsl.js?v=@Html.Version()"></script>
</body>
</html>