<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Color Clock</title>
</head>
<body>
    <noscript>
        <h1>You need Javascript enabled to view this page.</h1>
    </noscript>
    <h2 id="percent"></h2>
    <h2 id="hex"></h2>
    <script src="~/Scripts/colorclockhsl.js"></script>
</body>
</html>