@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <form method="post" id="login-form">
            <input type="password" class="form-control" name="CurrentPassword" placeholder="Current password" />
            <input type="password" class="form-control" name="NewPassword" placeholder="New password" />
            <input type="password" class="form-control" name="ConfirmNewPassword" placeholder="Confirm new password" />
            <input type="submit" class="btn btn-primary" value="Change" />
        </form>
    </div>
</div>