<!DOCTYPE html>

<html ng-app="costumeselector">
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Costume Selector</title>

    @Styles.Render("~/css/bootstrap")

    <link rel="stylesheet" type="text/css" href="~/Content/Styles/costumeselector.css?v=@Html.Version()" />

    @Scripts.Render("~/js/bootstrap")
    @Scripts.Render("~/js/angular")

    <script src="~/Scripts/costumeselector.js?v=@Html.Version()"></script>
</head>
<body>
    <div class="container">
        <div ng-controller="QuestionController as questions" id="costume-selector">
            <header>
                <h5 ng-repeat="answer in questions.answered"
                    ng-click="questions.revisitQuestion(answer)"
                    ng-hide="questions.isLoading()"
                    class="notSelectable">
                    {{ answer.answered }} <span class="glyphicon" ng-class="{ 'glyphicon-ok': !!answer.answerValue, 'glyphicon-remove': !answer.answerValue }"></span>
                </h5>
            </header>

            <div ng-show="questions.hasQuestionsLeft()" ng-hide="questions.isLoading()">
                <h3>
                    {{ questions.getCurrentQuestion().question }}
                </h3>
                <div ng-show="questions.getCurrentQuestion().options.length === 0">
                    <input type="button"
                           class="btn btn-lg btn-success"
                           value="Yes!"
                           ng-click="questions.answerCurrentQuestion(true)" />

                    <input type="button"
                           class="btn btn-lg btn-danger"
                           value="No, thanks"
                           ng-click="questions.answerCurrentQuestion(false)" />
                </div>
                <div ng-show="questions.getCurrentQuestion().options.length > 0">
                    <input ng-repeat="option in questions.getCurrentQuestion().options"
                           type="button"
                           class="btn btn-lg btn-info"
                           value="{{ option.name }}"
                           ng-click="questions.answerCurrentQuestion(option.value, option.name)" />
                </div>
            </div>
            <img src="~/Content/Images/loading.gif" alt="Loading..." ng-show="questions.isLoading()" />
            <div ng-show="!questions.hasQuestionsLeft() && !questions.isLoading()">
                <h1>
                    {{ questions.getBestCostume().name }}
                </h1>
                <img ng-src="~/Content/Images/Costumes/{{ questions.getBestCostume().imageFileName }}"
                     alt="{{ questions.getBestCostume().name }}"
                     ng-show="questions.isLoading()" />
            </div>
        </div>
    </div>
</body>
</html>