
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Costume/_AdminLayout.cshtml";
}

<h2>Log In</h2>

<div class="row">
    <div class="col-sm-6 col-md-4">
        <form method="post" id="login-form">
            <input type="text" class="form-control" name="UserName" placeholder="User name" />
            <input type="password" class="form-control" name="Password" placeholder="Password" />
            <input type="submit" class="btn btn-primary" value="Log In" />
        </form>
    </div>
</div>