<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>I Am Error</title>
    @Styles.Render("~/css/bootstrap")
</head>
<body style="background-color: black;">
    <div> 
        <h1 style="background-color: red;">MissingNo</h1>
    </div>
</body>
</html>
